#box{
    font-size: 22px;
    float:left;
    width: 25%;
    height: 50px;
    margin: 10px;


    border-bottom: #a29951 2px solid ;
}

#box:hover{

    transition: 0.3s;
    font-weight: bold;
    border-left: #a29951 15px solid  ;
}
a {
    padding: 6px 8px 6px 30px;
    text-decoration: none;
    font-size: 20px;
    color: #3f3f3f;
    display: block;
}

a:hover {
    text-decoration: none;
    color: #000000;

}