

/* Style tab links */
.tablink {
    background-color: #e5e5e5;
    color: #000000;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: #000000;
    display: none;
    padding: 100px 20px;
    height: 1000px;
}

#Information {background-color: #e5e5e5;}
#Author {background-color: green;}
#Ticket {background-color: blue;}
#About {background-color: orange;}