

/* Style tab links */
.tablink {
    background-color: #e5e5e5;
    color: #000000;
    font-weight: bold;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 14px;
    width: 25%;
    transition: 0.5s;
}

.tablink:hover {
    background-color: #b4aa5a;
    font-size: 15px;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: #000000;
    display: none;
    padding: 100px 20px;
    height: 1000px;
}

#information {background-color: #ededed;}
#author {background-color:  	#ededed;}
#ticket {background-color:  	#ededed;}
#about {background-color:  	#ededed;}