html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
#imageExhibition{
    float:right;
    width:20.3%
}
.columnExhibition {
    float: left;
    width: 80%;
    margin-bottom: 0px;
    padding: 0 8px;
}

@media screen and (max-width: 650px) {
    .columnExhibition {
        width: 100%;
        display: block;
    }
}

.cardExhibition {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.infoExhibition {
    padding: 0 16px;
}

.infoExhibition::after, .rowExhibition::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}