* {box-sizing: border-box;}

.img-magnifier-container {
    position:relative;
    float: right;
}

.img-magnifier-glass {
    position: absolute;
    /*border: 0px solid #000;*/
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 230px;
    height: 230px;
}
#info{

}
#title{

}
#description{

}