.container{
    padding-top: 30px;
    margin-left: AUTO;
    margin-right: auto ;
    position:relative;
    left: 6%;

}
.container1{
    margin-left: 50%;

}
body {
    font-family: "Playfair Display", sans-serif;
    background-color: #e5e5e5;
    color: #080d30;

}

.sidebar {
    height: 100%;
    width: 13.5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #141414;
    overflow-x: hidden;
    padding-top: 16px;
    color: #fff7b9;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #b4aa5a;
    display: block;
}

.sidebar a:hover {
    color: #fff7b9;
    transition: 0.3s;
}
.sidebar #userSection{
    padding: 6px 8px 200px ;
    font-size: 20px;
    color: #fff7b9;
    display: block;


}

.sidebar #adminSection a{
    padding: 6px 8px 6px 16px;
    font-size: 14px;
    color: #333019;
    display: block;
    font-weight: bold;
    font-family: Consolas;
    background-color: #b4aa5a;
}

.sidebar #adminSection a:hover {
    color: #fff7b9;
    transition: 0.3s;
}
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}